.apartment-button {
    color: #3e51b5;
    z-index: -1!important;
    position: relative;
}
.apartment-button:hover {
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-in-out;
}
.circle {
    padding: 10px;
    height: 40px!important;
    width: 40px!important;
    border-radius: 180px;
    color: #f5f5f5!important;
    background-color: #3e51b5;
    margin-top: 2vh;
    margin-right: 2vw;
    position: fixed;
    left: 99%;
    margin-left: -120px; /*half the width*/
    z-index: 999!important;
    transition: .2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .6);

}
.circle:hover {
    padding: 11px;
    transition: .2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .6);
}