.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
    padding-bottom: 50px;
}
.header-wrapper {
    display: flex;
    width: 100%;
    flex: .4;
}
.reviews-favorites-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: row;
    padding-bottom: 50px;
}
.favorites-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    flex: 1;
}
.reviews-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.my-restauraunts-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #323648;
    padding: 0;
    display: flex;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}
.my-reviews-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #323648;
    padding: 0;
    display: flex;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Lato', Helvetica,Arial , sans-serif;
}